<mat-card class="min-width">
  <mat-card-header>
    <mat-toolbar color="primary">Car details</mat-toolbar>
  </mat-card-header>
  <mat-card-content >
    <form [formGroup]="form" >
      <mat-form-field class="full-width">
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option value="null"> </mat-option>
          <mat-option value="Ford">Ford</mat-option>
          <mat-option value="Fiat">Fiat</mat-option>
          <mat-option value="Volkswagen">Volkswagen</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Color" formControlName="color">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Km In" formControlName="kmIn">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Km Out" formControlName="kmOut">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
    <button mat-raised-button (click)="onCancel()">Cancel</button>
  </mat-card-actions>
</mat-card>
