<p>cars-list works!</p>

<mat-table [dataSource]="cars">

        <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

        <!-- No. Column -->
        <ng-container matColumnDef="_id">
          <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
          <mat-cell *matCellDef="let car"> {{car._id}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Carro </mat-header-cell>
          <mat-cell *matCellDef="let car"> {{car.name}} </mat-cell>
        </ng-container>

        <!-- Category Column -->
        <ng-container matColumnDef="category">
          <mat-header-cell *matHeaderCellDef> Marca </mat-header-cell>
          <mat-cell *matCellDef="let car"> {{car.category}}
            <mat-icon aria-hidden="false" aria-label="Car Category" fontIcon="directions_car">{{ car.category | category }}</mat-icon>
          </mat-cell >
        </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="color">
            <mat-header-cell *matHeaderCellDef> Cor </mat-header-cell>
            <mat-cell *matCellDef="let car"> {{car.color}} </mat-cell>
          </ng-container>

          <!-- Km Out Column -->
          <ng-container matColumnDef="km_out">
            <mat-header-cell *matHeaderCellDef> KM na Saída </mat-header-cell>
            <mat-cell *matCellDef="let car"> {{car.kmOut}}
            </mat-cell>
          </ng-container>

          <!-- Km In Column -->
          <ng-container matColumnDef="km_in">
            <mat-header-cell *matHeaderCellDef> KM no Retorno </mat-header-cell>
            <mat-cell *matCellDef="let car"> {{car.kmIn}}
              </mat-cell>
          </ng-container>

         <!-- Actions Column -->
         <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef class="action-column-header">
            <button mat-mini-fab color="accent" aria-label="Add a car" (click)="onAdd()">
              <mat-icon >add</mat-icon>
            </button>
          </mat-header-cell>

          <mat-cell *matCellDef="let car" class="action-column" >
            <button mat-icon-button color="primary" aria-label="Edit a car" (click)="onEdit(car)">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button color="warn" aria-label="Delete a car">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>

        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
